
@{
    ViewData["Title"] = "Create";
}
@model CategoryCreateVM

@* <h1 class="text-success text-uppercase font-monospace character text-center mb-2">Create New Product</h1>
 *@<h1 class="text-uppercase text-center mb-5" style="background:  linear-gradient(135deg, white 0%, green 100%);background-clip: text; -webkit-background-clip: text; color: transparent; font-weight: 800; letter-spacing: 2px;">
Create New Category
</h1>
<hr />
<div class="d-flex justify-content-center align-items-center m-2" style="margin-top : 7px;">
   @using (@Html.BeginForm("Create", "Category", FormMethod.Post, new { @class = "row g-3 p-2 w-50 shadow-lg mt-2" })) 
    {
        <div class="col-md-12">
            @Html.LabelFor(c=>c.Name)
        @Html.TextBoxFor(c => c.Name, new
        {
            @class = "form-control",
            required = "required",
            placeholder = "Enter Category name"
        })
        @Html.ValidationMessageFor(c => c.Name, null, new { @class = "text-danger" })
    </div>
      
        <div class="col-12 m-2">
              <button type="submit" class="btn btn-success px-3" >Create</button>
]        @Html.ActionLink("Cancel", "Index", "Category", null, new { @class = "btn btn-light" })

        </div>
}

</div>   
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-success">
                <h5 class="modal-title text-white" id="exampleModalLabel">
                    <i class="fa fa-check text-success" aria-hidden="true"></i>
                    Category Created
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            @*     <div class="modal-body">
Product                 </div> *@
            @*  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div> *@
        </div>
    </div>
</div>
@section Scripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
}
